body {
  background-color: #001f3f;
  height: 200vh;
  font-family: var(--bodyFont);
  font-size: 100%;
  color: var(--bodyTextColor);
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1024px) {
  body.scroll .cs-navigation {
    top: 0;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
  }
}


@media only screen and (min-width: 1024px) {
  .cs-navigation {
    position: relative;
    background-color: #030f18;
    width: 94%;
    height: 6rem;
    top: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    left: 50%;
    transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s, background-color 0.3s;
    z-index: 1;
    box-sizing: border-box;
    border-radius: clamp(0.75rem, 2vw, 1.5rem);
    transform: translateX(-50%);
  }
}

.cs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}


@media (max-width: 1025px) {
  .logo img {
    width: 40px;
    max-width: 60px;
  }
}