body {
  background-color: #001f3f;
  height: 200vh;
}

.circle {
  position: relative;
  background-color: #030f18;
  width: 95%;
  height: 90px;
  translate: calc(2.5%);
  top: 32px;
  box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.5);
  position: fixed;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: clamp(0.75rem, 2vw, 1.5rem);
}

.square {
  position: fixed;
  top: 0;
  border-radius: 0;
  width: 100%;
  height: 90px;
  translate: calc(0%);
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}

.logo img {
  width: 60px;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}


@media (max-width: 1025px) {
  .logo img {
    width: 40px;
    max-width: 60px;
  }
}